<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travis.filesbottle.member.mapper.TeamlevelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.travis.filesbottle.member.entity.Teamlevel">
        <id column="teamlevel_zzid" property="teamlevelZzid" />
        <result column="teamlevel_id" property="teamlevelId" />
        <result column="teamlevel_name" property="teamlevelName" />
        <result column="teamlevel_max_people_number" property="teamlevelMaxPeopleNumber" />
        <result column="teamlevel_max_storage_space" property="teamlevelMaxStorageSpace" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        teamlevel_zzid, teamlevel_id, teamlevel_name, teamlevel_max_people_number, teamlevel_max_storage_space
    </sql>

</mapper>
