<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travis.filesbottle.document.mapper.DocumentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.travis.filesbottle.document.entity.FileDocument">
        <id column="doc_zzid" property="docZzid" />
        <result column="doc_name" property="docName" />
        <result column="doc_size" property="docSize" />
        <result column="doc_upload_date" property="docUploadDate" />
        <result column="doc_md5" property="docMd5" />
        <result column="doc_content_type_text" property="docContentTypeText" />
        <result column="doc_file_type_code" property="docFileTypeCode" />
        <result column="doc_suffix" property="docSuffix" />
        <result column="doc_description" property="docDescription" />
        <result column="doc_gridfs_id" property="docGridfsId" />
        <result column="doc_preview_id" property="docPreviewId" />
        <result column="doc_preview_url" property="docPreviewUrl" />
        <result column="doc_state" property="docState" />
        <result column="doc_error_message" property="docErrorMessage" />
        <result column="doc_reviewing" property="docReviewing" />
        <result column="doc_prohibited_word" property="docProhibitedWord" />
        <result column="doc_userid" property="docUserid" />
        <result column="doc_teamid" property="docTeamid" />
        <result column="doc_property" property="docProperty" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        doc_zzid, doc_name, doc_size, doc_upload_date, doc_md5, doc_content_type_text, doc_file_type_code, doc_suffix, doc_description, doc_gridfs_id, doc_preview_id, doc_preview_url, doc_state, doc_error_message, doc_reviewing, doc_prohibited_word, doc_userid, doc_teamid, doc_property
    </sql>

</mapper>
